#theme-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 50px;
  font-weight: 500;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  pointer-events: none;
  height: 24px;
  aspect-ratio: 1;
}
#theme-button:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}